.about{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about-description{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

@media screen and (max-width: 768px){
    
    .about-description{
        flex-direction: column;
    }
    
}